<table class="table col-md-4">
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Desde - Hasta</th>
        <th scope="col">Empresa</th>
        <th scope="col">Precio unidad</th>
        <th scope="col">Precio total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cart.cantidad}}</td>
        <td>{{cart.lugar}}</td>
        <td>{{cart.empresa}}</td>
        <td>{{cart.unidad}}</td>
        <td>{{cart.total}}</td>
      </tr>
    </tbody>
</table>