<table class="table col-md-8">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Ciudad Origen</th>
        <th scope="col">Ciudad Destino</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora Salida-Llegada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{passages.empresa}}</td>
        <td>{{passages.c_origen}}</td>
        <td>{{passages.c_destino}}</td>
        <td>{{passages.fecha}}</td>
        <td>{{passages.horarios}}</td>
      </tr>
    </tbody>
</table>