<table class="table col-md-8">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Ciudad Origen</th>
        <th scope="col">Ciudad Destino</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora Salida-Llegada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let passage of passages">
        <td>{{passage.empresa}}</td>
        <td>{{passage.origen}}</td>
        <td>{{passage.destino}}</td>
        <td>{{passage.fecha}}</td>
        <td>{{passage.horario}}</td>
      </tr>
    </tbody>
</table>